.container{
  margin: 2px;
}

section{
    padding-bottom: 10px;
    /*overflow: scroll;*/
}

#my_canvas_container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}

#my_canvas{
    display: block;
    position: relative;
    overflow: hidden;
    margin:0 auto; 
}

#canvas_belt{
    position: relative;
}

#message{
    font: bold 12pt arial;
    color: #6495ED;
    padding: 3px 0px 3px 0px;
    text-align: left;
    width: 100%;
}

#extra_infos{
    padding: 2px 0px 2px 0px;
    float: left;
    position: relative;
    display: inline-block;
}

#extra_cursor_pos{

    margin-left: auto;
    margin-right: auto;
    padding: 2px 0px 2px 0px;
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    vertical-align: middle;
}

#question_timer_value_staked,#question_timer_value,#my_slash{
    font: bold 12pt arial;
    color: #6495ED;
    vertical-align: middle;
}

.erreurs_space{
    margin-left: 10px;
}

#valErreur{
    color: red;
}

#valPara, #val_total_para{
    color: #32cd32;
}

#question_timer{
    display: inline-block;
    position: absolute;
    right: 0px;
    font: bold 12pt arial;
    padding: 3px 0px 3px 0px;
    margin-right: 5px;
}

#score_next {
    margin-top: 5px;
    vertical-align: middle;
}

#message, #score {
    display: inline-block;
    font: bold 12pt arial;
    color: #6495ED;
    padding: 3px 0px 3px 0px;
}

#next{
    width: 49%;
    height: 35px;
    float: right;
}

#quitter{
    position: relative;
    margin-top: 10px;
    width: 99.8%;
}


@media (max-width: 500px  ) {

    .buttons_container{
        margin-bottom: 3px;
        position: relative;
    }

    /*
    #my_canvas{
        overflow-x: scroll;
    }*/

}
@media (max-height: 660px  ) {
    section{
        padding-bottom: 40px;
    }
}
