.container{
  margin: 5px;
}

#question_nb, #question_timer, #question_score, #question_next_replay {
    display: inline-block;
    font: bold 12pt arial;
    color: #6495ED;
    padding: 3px 0px 3px 0px;
}

#question_timer, #question_next_replay {
    float: right;
}

#question_text {
    font-weight: bold;
}

#question_body {
    clear: both;
}

.question_answer {
    min-width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#question_footer {
    margin-top: 5px;
}


.answer_correct, .answer_wrong {
  font-weight: bold;
}

.answer_correct {
    color: #089A08;
}

.answer_wrong {
    color: #FF6363;
}
