<<<<<<< HEAD
img{
  width: auto;
  align-items: center;
}
p{
  padding: 0px 0px !important;
  margin: 0;
}

.jumbotron{
  background-color: #0099cb !important;
  margin: 0 0 20px 0;
  padding: 20px 0 !important;
}

.card{
  position: relative;
/*  -webkit-background-size: cover;
  background-size: cover;*/
  margin-bottom: 20px;
  margin-right: 10px;
/*  background-image: url(img/moustique.jpg);*/
}
.card-description{
    position: absolute;
	background: black none repeat scroll 0% 0%;
	padding: 8px 10px;
    color: #fff;
    opacity: .9;
    bottom: 0px;
    left: 0px;
    min-width: 100%;
}
.card-description > p >a{
  color: white;
}
.padding {
  padding: 10px 0;
}
.text-muted {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.text-muted > a {
  color: gray !important;
}
.col-xs-6{
  font-size: 12px;
}
=======
/*****************************************************************************
 * voir truc avec flex ???
*****************************************************************************/


.menu {
    clear: both;
}

.menu-item {
    width: 250px;
    height: 250px;
    background: #CECECE;
    display: inline-block;
    text-align: center;
    margin: 10px 10px 10px 10px;
    overflow: hidden;

}

h2 {
    padding: 15px;
}

img{
    width: 100%;
}

.menu-img {
    display: none;
    padding: 0px;
}

@media only screen and (min-width: 800px) {
    .menu-item {
        width: 275px;
        height: 275px;
    }

    h2 {
        font-size: 1.6em;
    }
    
    .menu-img {
        display: inline-block;
    }
}

@media only screen and (min-width: 1601px) {
    .menu-item {
        width: 300px;
        height: 300px;
    }

    h2 {
        font-size: 2em;
    }

}
>>>>>>> ed68c975d5f33451fcb0aa18831f304d47e7b532
