html {
    height: 100%;
    font-size: 14px;
}

body {
    min-height: 100%;
    position: relative;
    font-size: 1rem;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

section {
    padding-bottom: 50px;
}

img{
  width: auto;
  align-items: center;
}

.row {
  padding-right: 15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 0px;
}

.jumbotron{
  background-color: #0099cb;
  margin: 0 0 20px 0;
  padding: 10px 0;
}

.jumbotron p {
  margin-bottom: 0px;
  font-size: 14px;
  color: white
}

.card{
  position: relative;
  margin-bottom: 20px;
  /*margin-right: 10px;*/
}

.card a{
    text-decoration: none;
}

.card-description{
    position: absolute;
	background: black none repeat scroll 0% 0%;
	padding: 2px 5px;
    color: #fff;
    opacity: .85;
    bottom: 0px;
    left: 0px;
    min-width: 100%;
    margin: 0px;
    font-size: 1.3rem;
}

.card-description p{
  padding: 0px 0px !important;
  margin: 0;
}

.padding {
  padding: 10px 0;
}
.text-muted {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.text-muted > a {
  color: gray !important;
}

article {
    text-align: justify;
}
section h1{
    font-size: 1.5rem;
}

section h2{
    font-size: 1.3rem;
}

section figcaption {
    line-height: 1.2;
    text-align: left;
    margin-top: 5px; 
    margin-bottom: 15px; 
}

.question {
    font-weight: bold;
    margin-bottom: 0px;
}

.reponse {

}

blockquote {
    text-align: right;
    font-style: italic;
}

.btn {
    font-size: 1rem;
}

footer {
    background-color: #0099cb;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 0px;
}

footer p {
    margin: 0px 0px;
    font-size: 1rem;
    color: white;
    text-align: center;
}

footer a:link, footer a:visited {
	color: white;
}

@media (min-width: 800px) {
    html, .container {
        width: 800px;
    }

    html {
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }
}

