<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.fcrm.edupalu"
        versionCode = "13" 
        version     = "1.3" >
        
    <!-- versionCode is optional and Android only. It must be an integer -->
    

    <name>EduPalu</name>

    <description>
        EduPalu est une application d'information et d'éducation sur le paludisme au Congo
    </description>

    <author href="http://www.Fongwama.com" email="mbote@Fongwama.com">
        Fongwama 
    </author>

    <!-- build only for android -->
    <platform name="android" />

    <!-- icon -->
    <icon src="logo_EduPalu_icon.png" />


    <!-- no permission required -->
    <preference name="permissions" value="none" />
  
    <!-- plugin for geolocation -->
    <!-- https://build.phonegap.com/plugins/5538 -->
    <plugin name="cordova-plugin-geolocation" source="pgb" />

    <!-- plugin for whitelist url / protocols -->
    <plugin name="cordova-plugin-whitelist" />
    <!-- Allow links to web pages to open in a browser -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!-- Allow tel: links to open the dialer -->
    <allow-intent href="tel:*" />


    <!-- access to external links -->
    <access origin="*" browserOnly="true"/>
    <!-- allow phone number dialing from app -->
    <access origin="tel:*" launch-external="yes" />

    <preference name="fullscreen" value="false" />


    <!-- splash screen -->
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="1500" />
    <gap:splash platform="android" gap:qualifier="port-ldpi"  src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash platform="android" gap:qualifier="port-mdpi"  src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash platform="android" gap:qualifier="port-hdpi"  src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash platform="android" gap:qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
    <gap:splash platform="android" gap:qualifier="port-xxhdpi" src="res/screen/android/screen-xxhdpi-portrait.png" />
    <gap:splash platform="android" gap:qualifier="port-xxxhdpi" src="res/screen/android/screen-xxxhdpi-portrait.png" />
    <gap:splash src="splash.png" />

    <preference name="stay-in-webview" value="false"/>

</widget>



